<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Welcome to Facebook!</title>
  <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>

  <div id="back">

    <div id="left">
      <form action="/reg" method="POST">
        <h3>Register from here!</h3>
        <br>
        <input type="text" name="fname" placeholder="Enter Full Name"> <br>
        <input type="email" name="username" placeholder="Enter Email Id"> <br>
        <input type="text" name="mobile" placeholder="Enter Mobile Number"> <br>
        <input type="password" name="password" placeholder="Enter Mobile Password"> <br>
        <input class="abc" class="abc" type="submit" value="Register">
      
      </form>

    </div>

    <div id="right">
      <form action="/login" method="POST">
        <h3>Login from here!</h3>
        <br>
        <input type="email" name="username" placeholder="Enter Email Id"> <br>
        <input type="password" name="password" placeholder="Enter Mobile Password"> <br>
        <input class="def" type="submit" value="Login">
      </form>

    </div>

</body>
</html>